*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#overlay{
    position: fixed;
    opacity: 0;
    visibility: hidden;
    transition: all 1s;
    background-color: rgba(0, 0, 0, 0.382);
    inset: 0;
    z-index: 9;
}
#modal{
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    background-color: white;
    padding: 4rem;
    z-index: 100;
    min-width: 400px;
    width: 100vw;
}
#modal li{
    margin-top: 5px;    
    padding: 1rem;
    border: 1px solid purple;
    border-radius: .5rem;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
button{
    width: 10rem;
    height: 1.5rem;
    margin-top: .5rem;
    cursor: pointer;
    background-color: rgba(0, 94, 255, 0.468);
    border: none;
    border-radius: .5rem;
}
input, select{
    height: 1.5rem;
    width: 10rem;
    margin-top: .5rem;
}