body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
button{
    box-shadow: 0 0 5px gray;
    font-weight: bolder;
    padding: .5rem 1rem;
    cursor: pointer;
    margin: auto;
    transition: all 1s;
}
button:hover{
    transform: scale(1.1);
}

.inputs{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;
}
table{
    box-shadow: 0 0 15px gray;
    opacity: 0;
    width: 90%;
    margin: 20px auto;
    transition: all 1s;
    background: #fff;
    border-collapse: collapse;
    border: 1px solid gray;
}
table button{
    color: white;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 0, 0, 0.79);
}
th{
    color: #fff;
    border: 1px solid white;
    padding: 1rem;
    background-color: green;
}
td{
    text-align: center;
    border: 1px solid gray;
    padding: 1rem;
}